
*:focus {
  outline: none; /* Убираем стандартную обводку */
  box-shadow: 0 0 5px 2px rgba(74, 144, 226, 0.6); /* Синяя тень */
}

body {

  margin: 8px;
  background-image: linear-gradient(90deg, #ddf4ff 30%, #dafbe1);

  .container {
    font-weight: bold;

    .header {
      display: grid;
      grid-template-columns: repeat(5, 20%);
      padding: 8px 0 0px 0;
      height: 60px;

      .header__title {
        font-size: 1.5em;
        grid-column: 1 / 3;
        align-self: start;
      }

      .file_download {
        grid-column: 5;
        align-self: center;
      }     
    }
  }
}
