/* @import "materialize-css/dist/css/materialize.min.css"; */

.modal {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    background-color: lightgrey;
   }