
body {
  /* display: grid; */
  background-image: linear-gradient(70deg, #ddf4ff 30%, #dafbe1)
}

.container {
  
  /* max-width: 600px; */
  /* margin: 0 auto; */
  padding: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}

.header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 50px; */
  align-items: center;
}

.header label {
  grid-column-start: 4;
  /* z-index: 1; */
}

.header button {
  max-width: 190px;
  max-height: 40px;  
  padding: 10px 20px;
  background-color: #3d444b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
}

/* h1 {
  font-size: 24px;
  margin-bottom: 20px;
} */

#chooseFile {
  visibility: hidden;
  /* position: absolute; */
  /* display: block; */
  /* opacity: 100%; */
  /* z-index: 1; */
}

.custom-file-download {
  display: inline-block;
  text-align: center;
  max-width: 190px;
  max-height: 100%;
  padding: 10px 10px;
  background-color: #3d444b;
  color: #fff;
  border: 1px solid #ccc;;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  font-weight: normal;
}

.custom-file-download:hover {
  background-color: #0056b3;
}

.custom-file-download:active {
  background-color: #0056b3;
}

.custom-file-download[disabled] {
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

form {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  /* flex-direction: column; */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  max-width: 100px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

button:disabled, button:hover:disabled {
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.amount {
  /* align-content: center; */
  font-weight: bold;
  margin-left: 50px;
}

.search {
  display: grid;
  align-items: center;
  grid-template-columns: 200px 1fr;
}




/*

.spinner2 {
  margin: 0;
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 19px);
  /*transform: translate(-50%, -50%);
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

*/
