
body {
  /* display: grid; */
  background-image: linear-gradient(90deg, #ddf4ff 30%, #dafbe1)
}

.container {
  /* max-width: 600px; */
  /* margin: 0 auto; */
  padding: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";

}

.header {
  height: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.header label {
  grid-column-start: 4;
}

#chooseFile {
  visibility: hidden;
  /* position: absolute; */
  /* display: block; */
  /* opacity: 100%; */
  /* z-index: 1; */
}

.custom-file-download {
  display: inline-block;
  text-align: center;
  max-width: 190px;
  max-height: 100%;
  padding: 10px 10px;
  background-color: #3d444b;
  color: #fff;
  border: 1px solid #ccc;;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1;
  font-weight: normal;
}

.custom-file-download:hover {
  background-color: #0056b3;
}

.custom-file-download:active {
  background-color: #0056b3;
}

.custom-file-download[disabled] {
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

form {
  display:grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: auto repeat(5, 1fr);
  gap: 15px;
  align-items: center;
}

label {
  font-weight: bold;
}

input {
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px 2px;
}

label[for=name] {
  grid-column-start: 1;
}

input #name {
  grid-column-start: 2;
}

label[for=channel]{
  grid-column-start: 1;
}

input #channel{
  grid-column-start: 2;
}

label[for=dateFrom] {
  grid-column-start: 1;
  display:inline-block;
  /* text-align: right; */
}

input #dateFrom {
  grid-column-start: 2;
}

#data {
  display:inline-block;
}

#from {
  float: right;
}

label[for=dateTo] {
  grid-column-start: 3;
  text-align: right;
}

input #dateTo {
  grid-column-start: 4;
}

label[for=checkbox] {
  grid-column-start: 1;
}

input[type=checkbox] {
  width: 20px;
  grid-column-start: 2;
  margin: auto;
}

button {
  width: 100px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  grid-column-start: 1;

}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}

button:disabled, button:hover:disabled {
  background-color: rgba(0,0,0,.1);
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: not-allowed;
}

.resetDate {
  width: 110px;
  grid-column-start: 6;
}

.itemsNumber {
  /* align-content: center; */
  font-weight: bold;
  margin-left: 50px;
  grid-column-start: 2;
  grid-column: span 2;

}

.spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
